extends includes/header

block content
	div.jumbotron
		div.container.bg-transparent(style="border-top: none; border-bottom: none")
			div.row
				div.col-xs-offset-2.col-sm-offset-4.col-sm-6.col-md-offset-9.col-md-3.col-xs-8
					.btn-group.btn-group-lg
						a.btn.btn-danger View results
						a.btn.btn-danger Log out
				
			img.img-center.img-responsive.header-logo(src="/images/logo.png", alt="MUAS").hidden-sm
			//Display the introduction message
			div.message-box.clearfix
				.first-line: p Management University of Africa Awards
				.second-line.flexslider.home-slider
					ul.slides
						li: p Student of the Year
						li: p Most Popular Student
						li: p Best Lecturer
						li: p Best Department
						li: p Consistent Best Dresser
						li: p MUA Staff
						li: p Sports Person

	section#portfolio
		div.bg-light.padding-bottom
			.container
				div.section-header.scrollimation.fade-up.in
					div.section-icon: i.fa.fa-trophy
					h1.section-title The Nominees
					p.section-description.lead Non-votable categories

				div.row
					div.col-md-6.col-sm-12
						div.row
							div.col-sm-3.col-xs-12
								img(src="/images/gallery/3527082662734274.png").img-responsive.img-thumbnail

							div.col-sm-9.col-xs-12
								h2 Student of the year
								blockquote
									| Outgoing. Always Punctual.
									br 
									| A member of the student committee
									br 
									| Great academic performance
									br
									| Uses Case studies. Completes the syllabus.
									br
									| Participate and helps others.

					div.col-md-6.col-sm-12
						div.row
							div.col-sm-3.col-xs-12
								img(src="/images/gallery/3527082662734274.png").img-responsive.img-thumbnail

							div.col-sm-9.col-xs-12
								h2 Sports Person
								blockquote
									| Athletic
									br 
									| Active in all recent sport events
									br 
									| Engauges student
									br
									| A member of any of MUA sports teams/clubs


		div.bg-light
			.container
				div.section-header.scrollimation.fade-up.in
					//- div.section-icon: i.fa.fa-suitcase
					h1.section-title The Contestants
					p.section-description.lead Who do you think is the best?

		// The detailed preview handler for each contestant
		div#preview-scroll
		div#preview-loader

		div#project-preview-wrapper
			div#project-preview
				.container.bg-transparent
					//.preview-header
						h1.preview-title
						span.close-preview: i.fa.fa-times

					.row
						.col-sm-4#preview-media
						.col-sm-8#preview-details
							//- h2 project title
							ul
							.aligncenter
								button(href='#', data-userid="", data-category="", data-contestant-id="").btn.btn-theme.btn-lg
									| Vote for 
									span.preview-title Jhene Knights

					//- #preview-content

		div.bg-light.padding-bottom
			// The contestant wrapper
			.container
				.row
					//loop through the categories data
					for x in categories 
						.col-xs-12
							.page-header
								h2 Category: #{x.category}

							- var id = 0; //their IDs are as they are listed in the Array
							for contestant in x.contestants
								- id++ //1st ID == 1
								div.col-xs-12.col-sm-3
									.panel.panel-warning
										.panel-heading
											h3.panel-title.smaller #{x.category}
										.panel-body
											div.media
												a.pull-left(href="#")
													img.img.media-object(src="/images/gallery/3527082662734274.png", width="120px")
												div.media-body.orange
													h4.media-heading.orange #{contestant}
													a.btn.btn-primary.btn-sm(role="button", href="#", data-id="#{id}") Vote
														//- a.btn.btn-default.btn-sm(role="button", href="#") Cancel Vote

			//- .container.masonry-wrapper
			//- 	.masonry#projects-container(class="")
			//- 		//- loop thru the CONTESTANTS session
			//- 		for x in watu 
			//- 			//- the contestants
			//- 			for contestant in x.contestants
			//- 				article.project-item.web-design.image
			//- 					a(href="#")
			//- 						img.img-responsive.project-thumb(src="/images/gallery/3527082662734274.png")
			//- 						div.details
			//- 							h3.project-title #{contestant}
			//- 							small #{x.category}

			//- 					//The project details
			//- 					.sr-only
			//- 						.project-media(data-images="/images/gallery/3527082662734274.png")
			//- 						.project-attributes
			//- 							.newline: span Category: #{x.category}
			//- 						.project-description
