extends includes/header

block content
	div.jumbotron
		div.container.bg-transparent(style="border-top: none; border-bottom: none")
			div.row
				div.col-xs-offset-2.col-sm-offset-4.col-sm-6.col-md-offset-9.col-md-3.col-xs-8
					//- .btn-group.btn-group-lg
						//- a.btn.btn-danger View results
					a.pull-right.btn.btn-info.btn-sm Log out
			
			//The school's logo
			img.img-center.img-responsive.header-logo.hidden-xs(src="/images/logo.png", alt="MUAS").hidden-sm
			//Display the introduction message
			div.message-box.clearfix
				.first-line: p Management University of Africa Awards
				.second-line.flexslider.home-slider
					ul.slides
						li: p Student of the Year
						li: p Most Popular Student
						li: p Best Lecturer
						li: p Best Department
						li: p Consistent Best Dresser
						li: p MUA Staff
						li: p Sports Person

	section#portfolio
		div.bg-light
			.container
				div.section-header.scrollimation.fade-up.in
					div.section-icon: i.fa.fa-trophy
					h1.section-title The Nominees
					p.section-description.lead Non-votable categories

				div.row
					div.col-sm-6.col-sm-12
						div.row
							div.col-sm-3.col-xs-12
								img(src="/images/gallery/3527082662734274.png").img-responsive.img-thumbnail

							div.col-sm-9.col-xs-12
								h2 Student of the year
								blockquote
									| Outgoing. Always Punctual.
									br 
									| A member of the student committee
									br 
									| Great academic performance
									br
									| Uses Case studies. Completes the syllabus.
									br
									| Participate and helps others.

					div.col-md-6.col-sm-12
						div.row
							div.col-sm-3.col-xs-12
								img(src="/images/gallery/3527082662734274.png").img-responsive.img-thumbnail

							div.col-sm-9.col-xs-12
								h2 Sports Person
								blockquote
									| Athletic
									br 
									| Active in all recent sport events
									br 
									| Engauges student
									br
									| A member of any of MUA sports teams/clubs


		div.bg-light
			.container
				div.section-header.scrollimation.fade-up.in
					//- div.section-icon: i.fa.fa-suitcase
					h1.section-title The Contestants
					p.section-description.lead Who do you think is the best?

		// The detailed preview handler for each contestant
		div#preview-scroll
		div#preview-loader

		div#project-preview-wrapper
			div#project-preview
				.container.bg-transparent
					//.preview-header
						h1.preview-title
						span.close-preview: i.fa.fa-times

					.row
						.col-sm-4#preview-media
						.col-sm-8#preview-details
							//- h2 project title
							ul
							.aligncenter
								button(href='#', data-userid="", data-category="", data-contestant-id="").btn.btn-theme.btn-lg
									| Vote for 
									span.preview-title Jhene Knights

					//- #preview-content

		div.bg-light.padding-bottom
			// The contestant wrapper
			.container.masonry
				.alert.alert-danger
					p 
						strong PLEASE NOTE:  
						| You can only <b>vote</b> for a single candidate in each of the categories listed below.

				.row
					//loop through the categories data
					//- - var student = data.student;
					for x in data.categories 
						.col-xs-12.container
							.page-header
								h3 Category: #{x.category}

							- var id = 0; //their IDs are as they are listed in the Array
							- var border = ["panel-default", "panel-info", "panel-warning", "panel-success", "panel-danger", "panel-warning"];
							for contestant in x.contestants
								- id++ //1st ID == 1
								div.col-xs-12.col-sm-4.col-md-3.on-hover-effect.contestant
									.panel.panel-warning
										.panel-heading
											h3(data-abbr="#{x.abbr}").grey.panel-title.smaller #{x.category}
										.panel-body
											div.media
												div.pull-left
													img.img.media-object.project-thumb(src="/images/gallery/3527082662734274.png", width="96px")
												div.media-body.orange
													h4.media-heading.orange #{contestant}
													a.btn.btn-primary.btn-sm.vote-for-contestant(
														data-id="#{id}", 
														data-category="#{x.category}",
														data-abbr="#{x.abbr}", 
														data-studentId="#{data.student.id}",
														data-studentEmail="#{data.student.emailaddress}")
														i.icon-ok 
														| Vote
														//- a.btn.btn-default.btn-sm(role="button", href="#") Cancel Vote
